{% set form = hookable_metadata.context.form %}

{% if form.customer is defined %}
    <div {{ stimulus_controller('@sylius/shop-bundle/api-login', {url: path('sylius_shop_json_login_check')} ) }}>
        <div class="d-none">
            <div class="alert alert-danger" {{ stimulus_target('@sylius/shop-bundle/api-login', 'errorPrototype') }}></div>
        </div>
        {{ form_row(form.customer.email, sylius_test_form_attribute('login-email')|sylius_merge_recursive({attr: {'data-sylius--shop-bundle--api-login-target': 'email'}})) }}
        {% if hookable_metadata.context.email_exists %}
            <div class="input-group mb-2">
                <input type="password" class="form-control" placeholder="{{ 'sylius.ui.password'|trans }}" {{ stimulus_target('@sylius/shop-bundle/api-login', 'password') }} {{ sylius_test_html_attribute('password-input') }}>
                <button class="btn btn-primary" type="button" {{ stimulus_action('@sylius/shop-bundle/api-login', 'login') }} {{ sylius_test_html_attribute('login-button') }}>{{ 'sylius.ui.sign_in'|trans }}</button>
            </div>
            <input type="hidden" name="_csrf_shop_security_token" value="{{ csrf_token('shop_authenticate') }}" {{ stimulus_target('@sylius/shop-bundle/api-login', 'csrfToken') }}>
            <div {{ stimulus_target('@sylius/shop-bundle/api-login', 'error') }} {{ sylius_test_html_attribute('login-validation-error') }}></div>
        {% endif %}
    </div>
{% endif %}
