<div class="ui segment plus-features plus-blur" onclick="window.open('https://sylius.com/plus/?utm_source=sylius_admin&utm_medium=feature_box&utm_campaign=sylius_plus_promo', '_blank')" style="cursor: pointer;">
    <img src="{{ asset('build/admin/images/sylius-plus-sidebar.svg', 'admin') }}" alt="Plus Feature" class="overlay-image" />

    <div class="blur-content">
        <h4 class="ui dividing header">{{ 'sylius.ui.roles'|trans }}</h4>

        <div class="field">
            <label for="sylius_admin_user_rolesResources">Roles</label>
            <select multiple id="sylius_admin_user_rolesResources">
                <option>{{ 'sylius.ui.role_super_admin'|trans }}</option>
                <option>{{ 'sylius.ui.role_product_manager'|trans }}</option>
                <option>{{ 'sylius.ui.role_fulfillment_worker'|trans }}</option>
                <option>{{ 'sylius.ui.role_channel_admin'|trans }}</option>
            </select>
        </div>

        <div class="field">
            <div class="ui toggle checkbox">
                <input type="checkbox" id="sylius_admin_user_enablePermissionChecker" value="1" checked class="hidden">
                <label for="sylius_admin_user_enablePermissionChecker">
                    {{ 'sylius.ui.enabled_permission_checker'|trans }}
                </label>
            </div>
        </div>
    </div>
</div>
